* {
    font-family: 'Mukta', sans-serif;
}

.backgrund {
    background: url(../../src/img/Dots.png);
}

.main-header {
    width: 100%;
    float: left;
    background-color: rgb(243, 243, 243);
    padding: 25px 8%;
}

.logo a {
    width: 298px;
    height: 51px;
    background: url(../../src/img/logo.png) no-repeat;
    float: left;
}

.navbar-nav {
    flex-direction: row;
    justify-content: flex-end;

}

.nav-link {
    color: chocolate;
}

.btn {
    border: solid 0px;
    border-radius: 5px;
    background-color: #F97D26;
    width: 135px;
    height: 37.6px;
}